/* LESS Document */

// Normalize.less is no longer in use - the styles have been copied to global.css.
// @import url("normalize.less");

/* MIXINS */
@color_normal: #F2D346; /* Primary theme color */
@color_dark: #AB9D61;
@color_light: #FFEC96;
@color_research: #96BFFF;
@color_negatext: #333333; /* Text color */
@color_text: #f5f5f5; /* Negative text color */
@color_buttontext: #806F25;

@font1: 'Hind', 'Futura', sans-serif; /* Body text font */
@font2: 'Lora', 'Times New Roman', serif; /* Headings font */

@pad1: 24px; /* Sivuilla oleva yleinen väli */
@pad2: 1em; /* Ylhäällä ja alhaalla oleva yleinen väli */
@pad3: 32px; /* Ylhäällä ja alhaalla oleva isompi väli */
@pad4: 2*@pad3; /* Ylhäällä ja alhaalla oleva isoin väli */

@border1: 6px double #777; // Yleinen reuna
@border2: 2px solid #777; // Yleinen reuna 2

.col {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0;
	//float: left;
	display: block;
	max-height: inherit;
}

.clearfix { 
	*zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table;
	}
	&:after { clear: both; }
}

.box-shadow {
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
}

.back-stone {
	background-image: url("../img/texture_stone1.png");
}

.border-stone {
	border: @border1;
	border-right-color: #555;
    border-bottom-color: #222;
    border-left-color: #555;
    border-top-color: #777;
}

.border-stone-thin {
	border: @border2;
	border-right-color: #555;
    border-bottom-color: #222;
    border-left-color: #555;
    border-top-color: #777;
}


/* ======================================================== */
/* HEADINGS */
/* ======================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: @font1;
	text-transform: uppercase;
	color: @color_light;
}

h1 {
	margin: @pad2 @pad1 @pad2 @pad1;
	font-size: 3em;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 2px;
}

h2 {
	margin: @pad2 @pad1 @pad2/2 @pad1;
	font-size: 1.8em;
	font-weight:400;	
	letter-spacing: 2px;
	line-height:110%;
}

h3 {
	margin: @pad2 @pad1 @pad2/2 @pad1;
	font-size: 1.2em;
	font-weight:400;
	letter-spacing: 1px;
	line-height: 110%;
}

h4 {
	margin: 1.5*@pad2 @pad1 @pad2 @pad1;
	font-size: 1em;
	font-weight:400;
	letter-spacing:0.05em;
	line-height:150%;
}

.no-top-margin {
	margin-top: 0;
}

.no-bottom-margin {
	margin-bottom: -0.1em;
}

/* ======================================================== */
/* BODY TEXT, LEIPÄTEKSTI */
/* ======================================================== */

p {
	margin: @pad2 @pad1 1.5*@pad2 @pad1;
	font-size: 1.1em;
	font-weight:400;
	line-height:170%;
	text-align:left;
	font-family: @font1;
}

ul li {
	line-height: 190%;
}

::selection, ::-moz-selection {
	background: @color_normal;
	color: #ffffff;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.research {
	color: @color_research;
}

.wealth {
	color: rgb(255, 222, 150);
}

.growth {
	color: rgb(51, 204, 51);
}

/* ======================================================== */
/* LINKS */
/* ======================================================== */

a, a:visited, summary, .hyperlink {
	text-decoration: none;
	color: @color_normal;
	cursor: pointer;
	font-family: @font1;
}

a:hover, a:active, .hyperlink:hover, .hyperlink:active {
	color: @color_light;
	cursor: pointer;
}

button.hyperlink {
	background-color: transparent;
	-webkit-appearance: none;
	border: 0 none transparent;
	outline: none;
	padding: 0;
}

.button, .button:visited {
	background-color: darken(@color_normal, 5%);
	border: 3px solid @color_light;
	padding: @pad1/2-2px 0.75*@pad1 @pad1/3 0.75*@pad1;
	color: @color_buttontext;
	display: inline-block;
  	align-items: center;
	font-size: 1em;
	font-weight: 700;
	font-family: @font1;
	letter-spacing: 0.05em;
	line-height: 95%;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px @color_light;
	outline: none;
	
	width: auto;
	min-width: 6em;
	min-height: 36px;
	
	text-decoration:none;
	text-align:center;
	align-items: flex-start;
	text-indent:0;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	
	transition: all .2s ease-in-out;

	.box-shadow;

	&.cancel {
		background-color: darken(#F26346, 5%);
		border: 3px solid #FFA896;
		text-shadow: 0px 1px 1px #FFA896;
		color: #803425;
	}

	/* For some reason the following is not working... */
	svg {
		vertical-align: middle;
	}
}

.button:hover, .button:active {
	background-color: darken(@color_normal, 10%);
	text-shadow: 0px 1px 4px @color_dark;
	/*.tausta-gradientti;*/
	color: @color_text;
	outline: none;
	
	transform: scale(1.05);

	&.cancel {
		background-color: darken(#F26346, 10%);
		text-shadow: 0px 1px 4px #AB6E61;
		color: @color_text;
	}
}

.closewindow {
	min-width: 0;
	padding: 6px 10px;
	position: absolute;
	top: @pad2;
	right: @pad1/2;
}

/* ======================================================== */
/* FORMS */
/* ======================================================== */

input[type=text], input[type=password], input[type=email], select {
	display: block;
	width: 100%;
	min-height: 36px;
	box-sizing: border-box;

	font-size: 1.1em;
	color: @color_negatext;

	background-color: #cccccc;
	padding: @pad1/4 0.75*@pad1 @pad1/4-2px 0.75*@pad1;
	border: 0px none;
	outline: none;
}

select {
	height: 36px;
	margin: 1em 0;
}

label, .label {
	padding: @pad1/4 0.75*@pad1 @pad1/4-2px 0.75*@pad1;
	font-size: 1.2em;
	font-weight:400;
	letter-spacing: 1px;
	line-height: 110%;
	font-family: @font1;
	text-transform: uppercase;
	color: @color_light;
	
	display: block;
	width: 100%;
	min-height: 36px;
	box-sizing: border-box;
}

/* ======================================================== */
/* IMAGES */
/* ======================================================== */

img, object, svg {
	display: block;
	max-width: 100%;
    height: auto;
}

.tiny-icon {
	height: 1.1em;
	display: inline-block;
	margin-bottom: -0.2em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

a:hover .tiny-icon, button:hover .tiny-icon {
	filter: brightness(1.15);
	-webkit-filter: brightness(1.15);
}

/* ======================================================== */
/* STRUCTURE */
/* ======================================================== */

.full {
	width: 100%;
	float: left;
	overflow: hidden;
	
	display: flex;
	flex-wrap: wrap;
}

.row {
	.clearfix;
	
	display: flex;
	flex-wrap: wrap;
}

.separator {
	width: 100%;
	height: 1px;
	border-top: @border2;
	border-top-color: #222;
	border-bottom: @border2;
	display: block;
	margin: @pad2 0 @pad3 0;
}

.wrapper {
	width: 94%;
	display: block;
	margin: 0 3%;
	.clearfix;
}

.menuwrapper {
	max-width: 500px;
	margin: @pad2 @pad1;
	padding: @pad2 @pad1 @pad3 @pad1;
	text-align: center;
	box-sizing: border-box;
	
	.back-stone;
	.box-shadow;
	.border-stone;

	.button, button, input, label {
		width: 100%;
		box-sizing: border-box;
		margin: @pad2 0 @pad2 0;
	}

	.menulogo {
		margin: @pad2 auto;
		display: block;
		width: 80%;
		max-width: 250px;
	}
}

header, footer, #sidebar-left, #sidebar-right, .popup, #tileinfo {
	background-color: #333;
	.back-stone;
	.border-stone;
	.box-shadow;
	position: fixed;
	display: block;
}

main {
	position: fixed;
	overflow: scroll;
    overscroll-behavior: contain;
	background-color: transparent;
	height: 80vh;
	width: 100%;
	
}

header, header.full {
	top: 0;
	padding: 0;
	height: 84px; // Fixed height so the #map top-padding can be fixed
	box-sizing: border-box;
	z-index: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	overflow-x: visible;

	border-top: 0px none;

	p {
		margin: 0;
		line-height: 42px;
		//font-size: 1.2em;
	}

	.account-banner {
		width: 32px;
		left: 16px;
		position: fixed;
	}
	
	.account-name {
		width: auto;
		text-align: center;
		margin-left: @pad1 + 32px;
	}
}

#sidebar-left, #sidebar-right, #tileinfo {
	background-color: #444;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
	width: 25%;
	top: 0;
	left: 0;
	padding: @pad2 0;
	margin-top: 42px;
}

#sidebar-right, #tileinfo {
	right: 0;
	left: inherit;
}

.popup {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	max-width: 1000px;
	min-width: 500px;
	margin: 64px auto;
	top: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

footer {
	bottom: 0;
	height: 128px; // Fixed height so the #map bottom-padding can be fixed
	overflow: hidden;
	box-sizing: border-box;

	border-bottom: 0px none;

	display: flex;
	width: 400%;
	overflow-x: scroll;
}

#info-panel, #commands-panel, #commands-panel2, #status-panel, .footer-panel {
	padding: @pad2;
	h3, p, table {
		margin-left: @pad1/2;
		margin-right: @pad1/2;
	}
}

#research-bar, #menu-bar, #commands-panel, #status-panel {
	background-color: #444;
	.back-stone;
}

/* ======================================================== */
/* COLUMNS */
/* ======================================================== */

.whole, .half, .two-thirds, .third, .fourth, .sixth, .three-fours {
	.col;
	width: 100.00%;
	clear: none;
}

.half.non-responsive {
	.col;
	width: 50.00%;
	clear: none;
}

.two-thirds.non-responsive {
	.col;
	width: 66.66%;
	clear: none;
}

.third.non-responsive {
	.col;
	width: 33.333%;
	clear: none;
}

.fourth.non-responsive {
	.col;
	width: 25%;
	clear: none;
}

.three-fours.non-responsive {
	.col;
	width: 75%;
	clear: none;
}

.sixth.non-responsive {
	.col;
	width: 33.333%;
	clear: none;
}

.hide-mobile {
	display: none;
}

/* ======================================================== */
/* TABLET */
/* ======================================================== */
@media only screen and (min-width: 640px) {
	
	.fourth {
		width: 50%;
	}

	.fourth.non-responsive {
		width: 25%;
	}
	
	header, header.full {
		height: 42px; // Fixed height so the #map top-padding can be fixed
	}
}
/* ======================================================== */
/* DESKTOPS & BIGGER SCREENS */
/* ======================================================== */
@media only screen and (min-width: 1024px) {

	.menuwrapper {
		margin: @pad3 auto;
	}

	.full {
		flex-wrap: nowrap;
	}

	footer {
		width: 100%;
		overflow-x: hidden;
	}

	.half, .two-thirds, .third, .fourth, .sixth {
		padding-right: @pad1/2;
		padding-left: @pad1/2;
		box-sizing: border-box;
	}

	.row > :last-child {
		padding-right: 0;
	}

	.row > :first-child {
		padding-left: 0;
	}

	.half {
		width: 50.00%;
		clear: none;
	}
	
	.two-thirds {
		width: 66.66%;
		clear: none;
	}
	
	.third {
		width: 33.333%;
		clear: none;
	}
	
	.fourth {
		width: 25%;
		clear: none;
	}

	.three-fours {
		width: 75%;
		clear: none;
	}
	
	.sixth {
		width: 33.333%;
		clear: none;
	}

	.hide-mobile {
		display: initial;
	}

	.hide-desktop {
		display: none;
	}

}