/* LESS Document */

@import url("./base.less");

// Normalize.less is no longer in use - the styles have been copied to global.css.
// @import url("normalize.less");

/* MIXINS */
:global(.col) {
	width: 100%;
	clear: both;
	margin-left: 0;
	margin-bottom: 0;
	//float: left;
	display: block;
	max-height: inherit;
}

:global(.clearfix) { 
	*zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table;
	}
	&:after { clear: both; }
}

:global(.box-shadow) {
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.25);
}

:global(.back-stone) {
	background-image: url("../img/texture_stone1.png");
}

:global(.border-stone) {
	border: @border1;
	border-right-color: #555;
    border-bottom-color: #222;
    border-left-color: #555;
    border-top-color: #777;
}

:global(.border-stone-thin) {
	border: @border2;
	border-right-color: #555;
    border-bottom-color: #222;
    border-left-color: #555;
    border-top-color: #777;
}

/* ======================================================== */
/* HEADINGS */
/* ======================================================== */

:global(h1, h2, h3, h4, h5, h6) {
	font-family: @font1;
	text-transform: uppercase;
	color: @color_light;
}

:global(h1) {
	margin: @pad2 @pad1 @pad2 @pad1;
	font-size: 3em;
	font-weight: 400;
	line-height: 110%;
	letter-spacing: 2px;
}

:global(h2) {
	margin: @pad2 @pad1 @pad2 @pad1;
	font-size: 1.8em;
	font-weight:400;	
	letter-spacing: 2px;
	line-height:110%;
}

:global(h3) {
	margin: @pad2 @pad1 @pad2/2 @pad1;
	font-size: 1.2em;
	font-weight:400;
	letter-spacing: 1px;
	line-height: 110%;
}

:global(h4) {
	margin: 1.5*@pad2 @pad1 @pad2 @pad1;
	font-size: 1em;
	font-weight:400;
	letter-spacing:0.05em;
	line-height:150%;
}

:global(.no-top-margin) {
	margin-top: 0;
}

:global(.no-bottom-margin) {
	margin-bottom: -0.1em;
}

/* ======================================================== */
/* BODY TEXT, LEIPÄTEKSTI */
/* ======================================================== */

:global(p) {
	margin: @pad2 @pad1 1.5*@pad2 @pad1;
	font-size: 1.1em;
	font-weight:400;
	line-height:170%;
	text-align:left;
	font-family: @font1;
}

:global(ul li) {
	line-height: 190%;
}

:global(::selection, ::-moz-selection) {
	background: @color_normal;
	color: #ffffff;
}

:global(.center) {
	text-align: center;
}

:global(.left) {
	text-align: left;
}

:global(.right) {
	text-align: right;
}

:global(.research) {
	color: @color_research;
}

:global(.wealth) {
	color: rgb(255, 222, 150);
}

:global(.growth) {
	color: rgb(51, 204, 51);
}

/* ======================================================== */
/* LINKS */
/* ======================================================== */

:global(a, a:visited, summary, .hyperlink) {
	text-decoration: none;
	color: @color_normal;
	cursor: pointer;
	font-family: @font1;
}

:global(a:hover, a:active, .hyperlink:hover, .hyperlink:active) {
	color: @color_light;
	cursor: pointer;
}

:global(button.hyperlink) {
	background-color: transparent;
	-webkit-appearance: none;
	border: 0 none transparent;
	outline: none;
	padding: 0;
}

:global(.button, .button:visited) {
	background-color: darken(@color_normal, 5%);
	border: 3px solid @color_light;
	padding: @pad1/2-2px 0.75*@pad1 @pad1/3 0.75*@pad1;
	color: @color_buttontext;
	display: inline-block;
  	align-items: center;
	font-size: 1em;
	font-weight: 700;
	font-family: @font1;
	letter-spacing: 0.05em;
	line-height: 95%;
	text-transform: uppercase;
	text-shadow: 0px 1px 1px @color_light;
	outline: none;
	
	width: auto;
	min-width: 6em;
	min-height: 36px;
	
	text-decoration:none;
	text-align:center;
	align-items: flex-start;
	text-indent:0;
	
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	
	transition: all .2s ease-in-out;

	.box-shadow;
}

/* For some reason the following is not working... */
:global(.button svg) {
	vertical-align: middle;
}

:global(.button.cancel) {
	background-color: darken(#F26346, 5%);
	border: 3px solid #FFA896;
	text-shadow: 0px 1px 1px #FFA896;
	color: #803425;
}

:global(.button:hover, .button:active) {
	background-color: darken(@color_normal, 10%);
	text-shadow: 0px 1px 4px @color_dark;
	/*.tausta-gradientti;*/
	color: @color_text;
	outline: none;
	
	transform: scale(1.05);
}

:global(.button.cancel:hover) {
	background-color: darken(#F26346, 10%);
	text-shadow: 0px 1px 4px #AB6E61;
	color: @color_text;
}

:global(.closewindow) {
	min-width: 0;
	padding: 6px 10px;
	position: absolute;
	top: @pad2;
	right: @pad1/2;
}

/* ======================================================== */
/* FORMS */
/* ======================================================== */

:global(input[type=text], input[type=password], input[type=email], select) {
	display: block;
	width: 100%;
	min-height: 36px;
	box-sizing: border-box;

	font-size: 1.1em;
	color: @color_negatext;

	background-color: #cccccc;
	padding: @pad1/4 0.75*@pad1 @pad1/4-2px 0.75*@pad1;
	border: 0px none;
	outline: none;
}

:global(select) {
	height: 36px;
	margin: 1em 0;
}

:global(label, .label) {
	padding: @pad1/4 0.75*@pad1 @pad1/4-2px 0.75*@pad1;
	font-size: 1.2em;
	font-weight:400;
	letter-spacing: 1px;
	line-height: 110%;
	font-family: @font1;
	text-transform: uppercase;
	color: @color_light;
	
	display: block;
	width: 100%;
	min-height: 36px;
	box-sizing: border-box;
}

/* ======================================================== */
/* IMAGES */
/* ======================================================== */

:global(img, object, svg) {
	display: block;
	max-width: 100%;
    height: auto;
}

:global(.tiny-icon) {
	height: 1.1em;
	display: inline-block;
	margin-bottom: -0.2em;
	margin-left: 0.2em;
	margin-right: 0.2em;
}

:global(a:hover .tiny-icon, button:hover .tiny-icon) {
	filter: brightness(1.15);
	-webkit-filter: brightness(1.15);
}

/* ======================================================== */
/* STRUCTURE */
/* ======================================================== */

:global(.full) {
	width: 100%;
	float: left;
	overflow: hidden;
	
	display: flex;
	flex-wrap: wrap;
}

:global(.row) {
	.clearfix;
	
	display: flex;
	flex-wrap: wrap;
}

:global(.separator) {
	width: 100%;
	height: 1px;
	border-top: @border2;
	border-top-color: #222;
	border-bottom: @border2;
	display: block;
	margin: @pad2 0 @pad3 0;
}

:global(.wrapper) {
	width: 94%;
	display: block;
	margin: 0 3%;
	.clearfix;
}

:global(.menuwrapper) {
	max-width: 500px;
	margin: @pad2 @pad1;
	padding: @pad2 @pad1 @pad3 @pad1;
	text-align: center;
	box-sizing: border-box;
	
	.back-stone;
	.box-shadow;
	.border-stone;
}

:global(.menuwrapper .button, .menuwrapper button, .menuwrapper input, .menuwrapper label) {
	width: 100%;
	box-sizing: border-box;
	margin: @pad2 0 @pad2 0;
}

:global(.menulogo) {
	margin: @pad2 auto;
	display: block;
	width: 80%;
	max-width: 250px;
}

:global(header, footer, #sidebar-left, #sidebar-right, .popup, #tileinfo) {
	background-color: #333;
	.back-stone;
	.border-stone;
	.box-shadow;
	position: fixed;
	display: block;
}

:global(main) {
	position: fixed;
	overflow: scroll;
    overscroll-behavior: contain;
	background-color: transparent;
	height: 80vh;
	width: 100%;
	
}

:global(header, header.full) {
	top: 0;
	padding: 0;
	height: 84px; // Fixed height so the #map top-padding can be fixed
	box-sizing: border-box;
	z-index: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	overflow-x: visible;

	border-top: 0px none;
}

:global(header .account-banner) {
	width: 32px;
	height: 48px;
	left: 16px;
	position: fixed;
}

:global(header .account-name) {
	width: auto;
	text-align: center;
	margin-left: @pad1 + 32px;
}

:global(header p, header.full p) {
	margin: 0;
	line-height: 42px;
	//font-size: 1.2em;
}

:global(#sidebar-left, #sidebar-right, #tileinfo) {
	background-color: #444;
	box-sizing: border-box;
	overflow: hidden;
	height: auto;
	width: 25%;
	top: 0;
	left: 0;
	padding: @pad2 0;
	margin-top: 42px;
}

:global(#sidebar-right, #tileinfo) {
	right: 0;
	left: inherit;
}

:global(.popup) {
	box-sizing: border-box;
	width: 50%;
	height: auto;
	max-width: 1000px;
	min-width: 500px;
	margin: 64px auto;
	top: 0px;
	left: 50%;
	-webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

:global(footer) {
	bottom: 0;
	height: 128px; // Fixed height so the #map bottom-padding can be fixed
	overflow: hidden;
	box-sizing: border-box;

	border-bottom: 0px none;

	display: flex;
	flex-wrap: nowrap;
	width: 400%;
	overflow-x: scroll;
}

:global(.footer-panel) {
	padding: @pad2;
}

:global(.footer-panel h3, .footer-panel p, .footer-panel table) {
	margin-left: 0;
	margin-right: 0;
}

:global(#research-bar, #menu-bar, #commands-panel, #status-panel) {
	background-color: #444;
	.back-stone;
}

:global(#research-bar) {
	flex-grow: 2;
}

/* ======================================================== */
/* COLUMNS */
/* ======================================================== */

:global(.whole, .half, .two-thirds, .third, .fourth, .sixth, .three-fours) {
	.col;
	width: 100.00%;
	clear: none;
}

:global(.half.non-responsive) {
	.col;
	width: 50.00%;
	clear: none;
}

:global(.two-thirds.non-responsive) {
	.col;
	width: 66.66%;
	clear: none;
}

:global(.third.non-responsive) {
	.col;
	width: 33.333%;
	clear: none;
}

:global(.fourth.non-responsive) {
	.col;
	width: 25%;
	clear: none;
}

:global(.three-fours.non-responsive) {
	.col;
	width: 75%;
	clear: none;
}

:global(.sixth.non-responsive) {
	.col;
	width: 33.333%;
	clear: none;
}

:global(.hide-mobile) {
	display: none;
}

/* ======================================================== */
/* TABLET */
/* ======================================================== */
@media only screen and (min-width: 640px) {
	
	:global(.fourth) {
		width: 50%;
	}

	:global(.fourth.non-responsive) {
		width: 25%;
	}
	
	:global(header, header.full) {
		height: 42px; // Fixed height so the #map top-padding can be fixed
	}

	:global(footer) {
		width: 200%;
		overflow-x: scroll;
	}
}
/* ======================================================== */
/* DESKTOPS & BIGGER SCREENS */
/* ======================================================== */
@media only screen and (min-width: 1024px) {

	:global(.menuwrapper) {
		margin: @pad3 auto;
	}

	:global(.full) {
		flex-wrap: nowrap;
	}

	:global(footer) {
		width: 100%;
		overflow-x: hidden;
	}

	:global(.half, .two-thirds, .third, .fourth, .sixth) {
		padding-right: @pad1/2;
		padding-left: @pad1/2;
		box-sizing: border-box;
	}

	:global(.row > :last-child) {
		padding-right: 0;
	}

	:global(.row > :first-child) {
		padding-left: 0;
	}

	:global(.half) {
		width: 50.00%;
		clear: none;
	}
	
	:global(.two-thirds) {
		width: 66.66%;
		clear: none;
	}
	
	:global(.third) {
		width: 33.333%;
		clear: none;
	}
	
	:global(.fourth) {
		width: 25%;
		clear: none;
	}

	:global(.three-fours) {
		width: 75%;
		clear: none;
	}
	
	:global(.sixth) {
		width: 33.333%;
		clear: none;
	}

	:global(.hide-mobile) {
		display: initial;
	}

	:global(.hide-desktop) {
		display: none;
	}
}