/* LESS Document */
/* MIXINS */
/* Primary theme color */
/* Secondary theme color */
/* Text color */
/* Negative text color */
/* Background color */
/* Body text font */
/* Headings font */
/* Sivuilla oleva yleinen väli */
/* Ylhäällä ja alhaalla oleva yleinen väli */
/* Ylhäällä ja alhaalla oleva isompi väli */
/* Ylhäällä ja alhaalla oleva isoin väli */
.col {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* ======================================================== */
/* BODY */
/* ======================================================== */
/* ======================================================== */
/* HEADINGS */
/* ======================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lora', Times New Roman, serif;
  font-style: italic;
  color: #fff;
}
h1 {
  margin: 0 24px 1em 24px;
  font-size: 3em;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}
h2 {
  margin: 0.5em 24px 32px 24px;
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 120%;
}
h3 {
  margin: 1em 24px 0.5em 24px;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0em;
}
h4 {
  margin: 1.5em 24px 1em 24px;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
}
.no-bottom-margin {
  margin-bottom: -0.25em;
}
/* ======================================================== */
/* BODY TEXT, LEIPÄTEKSTI */
/* ======================================================== */
p {
  margin: 1em 24px 1.5em 24px;
  font-size: 1em;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
}
ul li {
  line-height: 190%;
}
::selection,
::-moz-selection {
  background: #8b189b;
  color: #ffffff;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
/* ======================================================== */
/* LINKS */
/* ======================================================== */
a,
a:visited,
summary {
  text-decoration: none;
  color: #d24fe4;
  cursor: pointer;
}
a:hover,
a:active {
  color: #9f1bb1;
  cursor: pointer;
}
button,
.button,
button:visited,
.button:visited {
  background-color: #771585;
  border: 3px solid #8b189b;
  padding: 6px 18px;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Lato', Arial, sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  outline: none;
  width: auto;
  min-width: 6em;
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  transition: all 0.2s ease-in-out;
}
button:hover,
button:active,
.button:hover,
.button:active {
  background-color: #8b189b;
  /*.tausta-gradientti;*/
  color: #fff;
  outline: none;
  transform: scale(1.1);
}
.closewindow {
  float: right;
  min-width: 0;
  padding: 6px 10px;
}
/* ======================================================== */
/* IMAGES */
/* ======================================================== */
img,
object {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ======================================================== */
/* STRUCTURE */
/* ======================================================== */
.full {
  width: 100%;
  float: left;
  display: block;
  padding: 24px 0;
  overflow-x: hidden;
  background-color: #ffffff;
}
.wrapper {
  width: 94%;
  display: block;
  margin: 0 3%;
  *zoom: 1;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
header,
header.full,
footer,
footer.full,
#sidebar {
  background-color: #333;
  position: fixed;
  z-index: 500;
  display: block;
}
header h1,
header.full h1,
footer h1,
footer.full h1,
#sidebar h1,
header h2,
header.full h2,
footer h2,
footer.full h2,
#sidebar h2,
header h3,
header.full h3,
footer h3,
footer.full h3,
#sidebar h3,
header h4,
header.full h4,
footer h4,
footer.full h4,
#sidebar h4,
header p,
header.full p,
footer p,
footer.full p,
#sidebar p {
  color: #fff;
}
main {
  position: fixed;
  overflow: scroll;
  overscroll-behavior: contain;
  background-color: transparent;
  height: 80vh;
  width: 100%;
}
header,
header.full {
  top: 0;
  padding: 0;
  height: 48px;
  overflow: hidden;
  box-sizing: border-box;
}
#sidebar {
  background-color: #444;
  height: auto;
  right: 0;
  margin-top: 48px;
  padding: 1em 0;
}
footer {
  bottom: 0;
  height: 160px;
  overflow: hidden;
  box-sizing: border-box;
}
#research-bar,
#menu-bar,
#commands-panel {
  background-color: #444;
}
/* ======================================================== */
/* COLUMNS */
/* ======================================================== */
.whole,
.half,
.two-thirds,
.third,
.fourth,
.sixth {
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
  width: 100%;
  clear: none;
}
.half.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
  width: 50%;
  clear: none;
}
.two-thirds.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
  width: 66.66%;
  clear: none;
}
.third.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
  width: 33.333%;
  clear: none;
}
.fourth.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
  width: 25%;
  clear: none;
}
.sixth.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0 auto;
  float: left;
  display: block;
  width: 33.333%;
  clear: none;
}
/* ======================================================== */
/* DESKTOPS & BIGGER SCREENS */
/* ======================================================== */
@media only screen and (min-width: 640px) {
  .half {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 auto;
    float: left;
    display: block;
    width: 50%;
    clear: none;
  }
  .two-thirds {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 auto;
    float: left;
    display: block;
    width: 66.66%;
    clear: none;
  }
  .third {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 auto;
    float: left;
    display: block;
    width: 33.333%;
    clear: none;
  }
  .fourth {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 auto;
    float: left;
    display: block;
    width: 25%;
    clear: none;
  }
  .sixth {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0 auto;
    float: left;
    display: block;
    width: 33.333%;
    clear: none;
  }
}
