/* LESS Document */
/* MIXINS */
/* Primary theme color */
/* Secondary theme color */
/* Text color */
/* Negative text color */
/* Background color */
/* Body text font */
/* Headings font */
/* Sivuilla oleva yleinen väli */
/* Ylhäällä ja alhaalla oleva yleinen väli */
/* Ylhäällä ja alhaalla oleva isompi väli */
/* Ylhäällä ja alhaalla oleva isoin väli */
.col {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.box-shadow {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}
.back-stone {
  background-image: url("../img/texture_stone1.png");
}
/* ======================================================== */
/* HEADINGS */
/* ======================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind', 'Futura', sans-serif;
  text-transform: uppercase;
  color: #FFEC96;
}
h1 {
  margin: 1em 24px 1em 24px;
  font-size: 3em;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2px;
}
h2 {
  margin: 1em 24px 1em 24px;
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 110%;
}
h3 {
  margin: 1em 24px 0.5em 24px;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 110%;
}
h4 {
  margin: 1.5em 24px 1em 24px;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 150%;
}
.no-bottom-margin {
  margin-bottom: -0.1em;
}
/* ======================================================== */
/* BODY TEXT, LEIPÄTEKSTI */
/* ======================================================== */
p {
  margin: 1em 24px 1.5em 24px;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
  font-family: 'Hind', 'Futura', sans-serif;
}
ul li {
  line-height: 190%;
}
::selection,
::-moz-selection {
  background: #F2D346;
  color: #ffffff;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.research {
  color: #96BFFF;
}
/* ======================================================== */
/* LINKS */
/* ======================================================== */
a,
a:visited,
summary {
  text-decoration: none;
  color: #F2D346;
  cursor: pointer;
  font-family: 'Hind', 'Futura', sans-serif;
}
a:hover,
a:active {
  color: #FFEC96;
  cursor: pointer;
}
button,
.button,
button:visited,
.button:visited,
input[type=submit] {
  background-color: #f0cd2e;
  border: 3px solid #FFEC96;
  padding: 6px 18px 4px 18px;
  color: #806F25;
  display: inline-block;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Hind', 'Futura', sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px #FFEC96;
  outline: none;
  width: auto;
  min-width: 6em;
  text-decoration: none;
  text-align: center;
  text-indent: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  /* For some reason the following is not working... */
}
button.cancel,
.button.cancel,
button:visited.cancel,
.button:visited.cancel,
input[type=submit].cancel {
  background-color: #f04f2e;
  border: 3px solid #FFA896;
  text-shadow: 0px 1px 1px #FFA896;
  color: #803425;
}
button svg,
.button svg,
button:visited svg,
.button:visited svg,
input[type=submit] svg {
  vertical-align: middle;
}
button:hover,
button:active,
.button:hover,
.button:active,
input[type=submit]:hover {
  background-color: #efc816;
  text-shadow: 0px 1px 4px #AB9D61;
  /*.tausta-gradientti;*/
  color: #fff;
  outline: none;
  transform: scale(1.05);
}
button:hover.cancel,
button:active.cancel,
.button:hover.cancel,
.button:active.cancel,
input[type=submit]:hover.cancel {
  background-color: #ef3b16;
  text-shadow: 0px 1px 4px #AB6E61;
  color: #fff;
}
.closewindow {
  min-width: 0;
  padding: 6px 10px;
  position: absolute;
  top: 1em;
  right: 24px;
}
/* ======================================================== */
/* FORMS */
/* ======================================================== */
input[type=text],
input[type=password],
input[type=email] {
  display: block;
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #333333;
  background-color: #cccccc;
  padding: 6px 18px 4px 18px;
  border: 0px none;
  outline: none;
}
label {
  padding: 6px 18px 4px 18px;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 110%;
  font-family: 'Hind', 'Futura', sans-serif;
  text-transform: uppercase;
  color: #FFEC96;
  display: block;
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
}
/* ======================================================== */
/* IMAGES */
/* ======================================================== */
img,
object {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ======================================================== */
/* STRUCTURE */
/* ======================================================== */
.full {
  width: 100%;
  float: left;
  display: block;
  padding: 1em 0;
  overflow-x: hidden;
  background-color: #ffffff;
}
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.wrapper {
  width: 94%;
  display: block;
  margin: 0 3%;
  *zoom: 1;
}
.wrapper:before,
.wrapper:after {
  content: "";
  display: table;
}
.wrapper:after {
  clear: both;
}
.menuwrapper {
  max-width: 500px;
  margin: 32px auto;
  padding: 1em 24px;
  text-align: center;
  box-sizing: border-box;
  background-image: url("../img/texture_stone1.png");
}
.menuwrapper .button,
.menuwrapper button,
.menuwrapper input,
.menuwrapper label {
  width: 100%;
  box-sizing: border-box;
  margin: 1em 0 1em 0;
}
header,
header.full,
footer,
footer.full,
#sidebar {
  background-color: #333;
  background-image: url("../img/texture_stone1.png");
  position: fixed;
  display: block;
}
main {
  position: fixed;
  overflow: scroll;
  overscroll-behavior: contain;
  background-color: transparent;
  height: 80vh;
  width: 100%;
}
header,
header.full {
  top: 0;
  padding: 0;
  height: 48px;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}
header p,
header.full p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 48px;
}
#sidebar {
  background-color: #444;
  height: auto;
  right: 0;
  margin-top: 48px;
  padding: 1em 0;
  z-index: 500;
}
footer {
  bottom: 0;
  height: 160px;
  overflow: hidden;
  box-sizing: border-box;
}
#research-bar,
#menu-bar,
#commands-panel {
  background-color: #444;
  background-image: url("../img/texture_stone1.png");
}
/* ======================================================== */
/* COLUMNS */
/* ======================================================== */
.whole,
.half,
.two-thirds,
.third,
.fourth,
.sixth {
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
  width: 100%;
  clear: none;
}
.half.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
  width: 50%;
  clear: none;
}
.two-thirds.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
  width: 66.66%;
  clear: none;
}
.third.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
  width: 33.333%;
  clear: none;
}
.fourth.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
  width: 25%;
  clear: none;
}
.sixth.non-responsive {
  width: 100%;
  clear: both;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  float: left;
  display: block;
  width: 33.333%;
  clear: none;
}
/* ======================================================== */
/* DESKTOPS & BIGGER SCREENS */
/* ======================================================== */
@media only screen and (min-width: 640px) {
  .half {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    float: left;
    display: block;
    width: 50%;
    clear: none;
  }
  .two-thirds {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    float: left;
    display: block;
    width: 66.66%;
    clear: none;
  }
  .third {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    float: left;
    display: block;
    width: 33.333%;
    clear: none;
  }
  .fourth {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    float: left;
    display: block;
    width: 25%;
    clear: none;
  }
  .sixth {
    width: 100%;
    clear: both;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    float: left;
    display: block;
    width: 33.333%;
    clear: none;
  }
}
