// Tile size
@tile_side: 128px;

// Padding of graphics for a tile that represents land
@tile_land_padding_top: 4px;
@tile_land_padding_right: 4px;
@tile_land_padding_bottom: 32px;
@tile_land_padding_left: 4px;

// Padding of building graphics
@tile_improvement_padding_top: 32px;

.clearfix { 
	*zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table;
	}
	&:after { clear: both; }
}

#map {
    width: 10 * @tile_side;
    
    display: block;
    padding-top: 42px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: transparent;

    .clearfix;
}

.map_row {
    display: block;
    width: 10 * @tile_side;
    height: auto;
    float: left;
    clear: both;

    background-color: #409AFF;
    background-image: url(../img/terrain/water.gif);
    background-size: contain;
}

// -----------------------------------------------
// TILES
// -----------------------------------------------

// Base settings for one tile in map
.tile {
    display: block;
    width: @tile_side;
    height: @tile_side;
    box-sizing: border-box;
    float: left;
    position: relative;

    box-sizing: border-box;
    background-color: transparent;
    background-size: cover;

    overflow: visible;
}

// Ocean tile specific settings
.water:hover {
    background-color: lighten(#409AFF, 5%);
}

// All ground tiles
.ground {
    // Cliff at bottom
    height: @tile_side + @tile_land_padding_top + @tile_land_padding_bottom;
    width: @tile_side + @tile_land_padding_left + @tile_land_padding_right;
    margin-bottom: -1 * @tile_land_padding_bottom;
    margin-top: -1 * @tile_land_padding_top;
    margin-left: -1 * @tile_land_padding_left;
    margin-right: -1 * @tile_land_padding_right;
}

// Grass
.grass1 {
    background-image: url(../img/terrain/grass1.png);
}

.grass2 {
    background-image: url(../img/terrain/grass2.png);
}

.grass3 {
    background-image: url(../img/terrain/grass3.png);
}

// Desert
.desert1 {
    background-image: url(../img/terrain/desert1.png);
}

.desert2 {
    background-image: url(../img/terrain/desert2.png);
}

.desert3 {
    background-image: url(../img/terrain/desert3.png);
}

// Tundra
.tundra1 {
    background-image: url(../img/terrain/tundra1.png);
}

.tundra2 {
    background-image: url(../img/terrain/tundra2.png);
}

.tundra3 {
    background-image: url(../img/terrain/tundra3.png);
}

// -----------------------------------------------
// IMPROVEMENT
// -----------------------------------------------

.improvement {
    display: block;
    z-index: 10;

    img {
        margin-top: -1*@tile_improvement_padding_top;
        display: block;
        width: 100%;
    }
}

// -----------------------------------------------
// UNIT
// -----------------------------------------------

.unit {
    display: block;
    z-index: 15;

    img {
        margin-top: -1*@tile_improvement_padding_top;
        display: block;
        width: 100%;
        position: relative;
    }

    .player-banner {
        position: absolute;
        top: 8px;
        left: 36px;
        // left: @tile_side/2-16px+@tile_land_padding_left;
        width: 32px;
        height: 48px;
        // border-top: 3px solid gold;
    }
}

// -----------------------------------------------
// RESOURCES
// -----------------------------------------------

.resource {
    display: block;
    padding: 0px;
    position: absolute;
    right: 12px;
    bottom: 12px;

    z-index: 10;

    width: @tile_side / 3;
    height: @tile_side / 3;

    box-sizing: border-box;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;

    img {
        position: relative;
        display: block;
        width: 0.8 * (@tile_side / 3);
        padding: 0.1 * (@tile_side / 3);
    }

    svg {
        position: absolute;
    }

    /* &:after {
        content: '';
        position: absolute;
        left: -1 * @tile_side / 40;
        top: -1 * @tile_side / 40;
        width: 0;
        height: 0;
        border-left: @tile_side / 12 solid #eee;
        border-top: @tile_side / 12 solid #eee;
        border-bottom: @tile_side / 12 solid transparent;
        border-right: @tile_side / 12 solid transparent;
        clear: both;
    } */
}

.tile:hover .resource {
    right: 8px;
    bottom: 8px;
}