// Tile size
@tile_side: 128px;

// Padding of graphics for a tile that represents land
@tile_land_padding_top: 4px;
@tile_land_padding_right: 4px;
@tile_land_padding_bottom: 32px;
@tile_land_padding_left: 4px;

// Padding of building graphics
@tile_improvement_padding_top: 32px;

.clearfix { 
	*zoom: 1;
	&:before, &:after { 
		content: ""; 
		display: table;
	}
	&:after { clear: both; }
}

#map {
    width: 10 * @tile_side;
    
    display: block;
    padding-top: 42px;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: transparent;

    .clearfix;
}

.map_row {
    display: block;
    width: 10 * @tile_side;
    height: auto;
    float: left;
    clear: both;

    background-color: #409AFF;
    background-image: url(../img/terrain/water.svg);
    background-size: contain;
}

// -----------------------------------------------
// TILES
// -----------------------------------------------

// Base settings for one tile in map
.tile {
    display: block;
    width: @tile_side;
    height: @tile_side;
    box-sizing: border-box;
    float: left;
    position: relative;

    box-sizing: border-box;
    background-color: transparent;
    background-size: cover;

    overflow: visible;
}

// Ocean tile specific settings
.water:hover {
    background-color: lighten(#409AFF, 5%);
}

// All ground tiles
.ground {
    position: relative;

   // Cliff at bottom
    height: @tile_side + @tile_land_padding_top + @tile_land_padding_bottom;
    width: @tile_side + @tile_land_padding_left + @tile_land_padding_right;
    margin-bottom: -1 * @tile_land_padding_bottom;
    margin-top: -1 * @tile_land_padding_top;
    margin-left: -1 * @tile_land_padding_left;
    margin-right: -1 * @tile_land_padding_right;
}

// Grass
.grass1 {
    background-image: url(../img/terrain/grass1.svg);
}

.grass2 {
    background-image: url(../img/terrain/grass2.svg);
}

.grass3 {
    background-image: url(../img/terrain/grass3.svg);
}

// Desert
.desert1 {
    background-image: url(../img/terrain/desert1.svg);
}

.desert2 {
    background-image: url(../img/terrain/desert2.svg);
}

.desert3 {
    background-image: url(../img/terrain/desert3.svg);
}

// Tundra
.tundra1 {
    background-image: url(../img/terrain/tundra1.svg);
}

.tundra2 {
    background-image: url(../img/terrain/tundra2.svg);
}

.tundra3 {
    background-image: url(../img/terrain/tundra3.svg);
}

// -----------------------------------------------
// IMPROVEMENT
// -----------------------------------------------

.improvement, .improvement-back, .improvement-front {
    position: absolute;
    display: block;
    width: @tile_side;
    height: @tile_side;
    //z-index: 10;

    img {
        margin-top: -1*@tile_improvement_padding_top;
        display: block;
        width: 100%;
    }
}

// -----------------------------------------------
// UNIT
// -----------------------------------------------

.unit {
    position: absolute;
    display: block;
    width: 96px;
    height: 96px;
    margin-top: @tile_land_padding_top + 16;
    margin-left: @tile_land_padding_left + 16;
    //z-index: 15;


    img {
        // margin-top: -1*@tile_improvement_padding_top;
        display: block;
        width: 96px;
        position: absolute;
    }

    .player-banner {
        position: absolute;
        /* top: 16px;
        left: 32px;
        width: 64px;
        height: 96px; */

        top: 12px;
        left: 24px;
        width: 48px;
        height: 64px;
    }
}

.path {
    position: absolute;
    display: block;
    z-index: 20;
}

// -----------------------------------------------
// RESOURCES
// -----------------------------------------------

.resource {
    display: block;
    padding: 0px;
    position: absolute;
    right: 12px;
    bottom: 12px;

    z-index: 10;

    width: @tile_side / 3;
    height: @tile_side / 3;

    box-sizing: border-box;

    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    transition: 0.2s;

    img {
        position: relative;
        display: block;
        width: 0.8 * (@tile_side / 3);
        padding: 0.1 * (@tile_side / 3);
    }

    svg {
        position: absolute;
    }

}

.tile:hover .resource {
    right: 8px;
    bottom: 8px;
}

// -----------------------------------------------
// YIELD
// -----------------------------------------------

.yield {
    height: @tile_side;
    width: auto;
    display: flex; // make us of Flexbox
    align-items: center; // does vertically center the desired content
    justify-content: center; // horizontally centers single line items
    text-align: center; // optional, but helps horizontally center text that breaks into multiple lines

    p {
        margin: 0;
        width: auto;
        background-color: #444;
        //background-color: rgba(0, 0, 0, 0.8);
        padding: 4px 5px 4px 8px;
        border-radius: 0.75em;
    }

    .tiny-icon {
        height: 1.1em;
        display: inline-block;
        margin-bottom: -0.2em;
        margin-left: 0.15em;
        margin-right: 0.15em;
    }
}

// -----------------------------------------------
// PATH
// -----------------------------------------------

.path {
    width: @tile_side + 4px;
    height: @tile_side + 4px;
    margin-top: 2px;
    margin-left: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}