#map {
  padding-top: 32px;
  padding-bottom: 300px;
  overflow: scroll;
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}
.map_row {
  display: block;
  width: 1280px;
  height: auto;
  float: left;
  clear: both;
  background-color: #409AFF;
  background-image: url(img/t_water.gif);
  background-size: contain;
}
.tile {
  display: block;
  width: 128px;
  height: 128px;
  float: left;
  position: relative;
  box-sizing: border-box;
  background-color: #ccc;
  background-size: cover;
  overflow: visible;
}
.tile_ocean {
  background-color: transparent;
}
.tile_ocean:hover {
  background-color: #5aa7ff;
}
.tile_plains {
  background-color: transparent;
  background-image: url(img/t_grass.png);
  height: 164px;
  width: 136px;
  margin-bottom: -32px;
  margin-top: -4px;
  margin-left: -4px;
  margin-right: -4px;
}
.tile_plains:hover {
  background-color: transparent;
}
.improvement {
  display: block;
  z-index: 10;
}
.improvement img {
  margin-top: -32px;
  display: block;
  width: 100%;
}
.unit {
  display: block;
  z-index: 15;
}
.unit img {
  margin-top: -32px;
  display: block;
  width: 100%;
}
.resource {
  display: block;
  padding: 0px;
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 10;
  width: 42.66666667px;
  height: 42.66666667px;
  border: 3px solid #eee;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.resource img {
  display: block;
  width: 100%;
}
.resource:after {
  content: '';
  position: absolute;
  left: -3.2px;
  top: -3.2px;
  width: 0;
  height: 0;
  border-left: 10.66666667px solid #eee;
  border-top: 10.66666667px solid #eee;
  border-bottom: 10.66666667px solid transparent;
  border-right: 10.66666667px solid transparent;
  clear: both;
}
.tile:hover .resource {
  right: 8px;
  bottom: 8px;
}
